h1 {
    font-family: Georgia, sans-serif;
    font-size: 70px;
    text-align: center;
    color: slateblue;
}

h2 {
    font-family: Calibri, sans-serif;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.btn {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    border: #4CAF50;
    border-radius: 8px;
}

.btn:hover {
    background-color: forestgreen; /* Green */
    color: white;
}


.img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid black;
}

@media only screen and (min-width: 1080px) {
  img {
    width: 100%;
  }
}

h3 {
    font-family: Calibri, sans-serif;
    font-size: 25px;
    text-align: center;
}

#item1::before {
    content: "";
    background-image: url("./smallinterface.png");
    background-size: 80px 80px;
    display: inline-block;
    width: 80px; 
    height: 80px;
    transform: translateY(40%);
}

#item2::before {
    content: "";
    background-image: url("./synchronization.png");
    background-size: 55px 55px;
    display: inline-block;
    width: 55px; 
    height: 55px;
    transform: translateY(40%);
}

#item3::before {
    content: "";
    background-image: url("./nodes.png");
    background-size: 70px 70px;
    display: inline-block;
    width: 70px; 
    height: 70px;
    transform: translateY(30%);
} 

h4 {
    font-family: Calibri, sans-serif;
    font-size: 25px;
    text-align: center;
}
